/* Estilos para tablets */
@media (min-width: 600px) and (max-width: 1024px) {
    .service {
        width: 45%;
        margin: 5px;
        padding: 15px;
    }

    .footer-section {
        width: 100%;
        text-align: center;
    }
}

/* Estilos para celulares */
@media (max-width: 599px) {
    .service {
        width: 100%;
        margin: 5px 0;
        padding: 10px;
    }

    .footer-section {
        width: 100%;
        text-align: center;
    }
}